a.link {text-decoration: none}
a.visited {text-decoration: none}
a.hover {text-decoration: none}
a.active {text-decoration: none}

body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #333333; text-decoration: none;}
td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #333333; text-decoration: none;}
.search {font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #FFFFFF;}
.box {font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #333333; cursor: hand;}
.field {font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #333333;}
.h1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #29558A; font-weight: bold;}
.footer {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #999999; text-decoration: none;}
.button {background: #6584CD; font: 9px/10px Verdana; color: #FFFFFF; height: 16px;	border: 1px solid #6060D2;}

.subheader {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #999999; text-decoration: none;font-weight:bold}
a.subheader {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #CCCCCC; text-decoration: underline;font-weight:bold}
a.subheader:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #CCCCCC; text-decoration: underline;font-weight:bold}
.title {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; text-decoration: none;font-weight:bold}
a.title {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; text-decoration: underline;font-weight:bold}
a.title:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #CCCCCC; text-decoration: underline;font-weight:bold}
.data {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #000000; text-decoration: none;font-weight:normal}
a.data {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #000000; text-decoration: underline;font-weight:bold}
a.data:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #CCCCCC; text-decoration: underline;font-weight:bold}


.home {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #29558A; text-decoration: underline;}
a.home:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #ffffff; text-decoration: none; background-color:#999999;}
.summary {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #333333; text-decoration: underline;}
a.summary {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #333333; text-decoration: underline;}
a.summary:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #ffffff; text-decoration: none; background-color:#004080;}
a.menu {background-color: none; vertical-align:bottom;}
a.menu:hover {background-color: #ffcc00; vertical-align: bottom;}
.nav {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #999999; text-decoration: none;}
a.nav {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #999999; text-decoration: none;}
a.nav:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #CCCCCC; text-decoration: none;}

.selectbox{border-width:1pt; background-color:#FFFFFF; text-decoration:none; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:7.5pt; font-weight:normal}

.tableHeader {background-color:#29558A; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #FFFFFF; text-decoration: none;font-weight:bold}

