body {
    font-size: 8pt;
    font-family: Verdana;
    scrollbar-arrow-color : #336699;
    scrollbar-base-color : #C2D7EB;
    background: #E2E2E2;
}

h3 {
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14pt;
    color:#336699;
    font-weight:bold;
}

td {
    font-size: 8pt;
    font-family: Verdana;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.optionheader {
    font-size: 9pt;
    font-family: arial,verdana;
    font-weight: bold;
    background : #BFBFBF;
    margin : 4;
    padding : 4;
}

.optioncell {
    font-size: 8pt;
    font-family: verdana;
//    background : #E2E2E2;
    background : #FFFFFF;
    border : 0px solid white;
    vertical-align : top;
    margin : 4;
    padding : 4;
}

.path {
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:9pt;
    color:#336699;
}

a.path {
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:9pt;
    color:#336699;
}

a.path:hover {
    text-decoration:underline;
    font-family:Arial, Helvetica, sans-serif;
    font-size:9pt;
    color:#336699;
}

a.option {
    text-decoration:none;
    font-size: 8pt;
    font-family: verdana;
    color: #336699;
}

a.option:hover {
    text-decoration:underline;
    font-size: 8pt;
    font-family: verdana;
    color: #336699;
}

a.menulink {
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10pt;
    color:#66CCFF;
    font-weight:bold
}

a.menulink:hover {
    text-decoration:underline;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10pt;
    color:#66CCFF;
    font-weight:bold
}

.submenulink {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight:none;
    color:#FFFFFF
}

.submenulink2 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight:bold;
    color:#FFFFFF
}

a.topmenu {
    text-decoration:underline;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:7.5pt;
    color:#66CCFF;
    font-weight:normal
}

a.topmenu:hover {
    text-decoration:none;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:7.5pt;
    color:#66CCFF;
    font-weight:normal
}

.logon { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8.5pt;
    font-weight:none;
    color:#CCCCCC
}

.logon2 { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8.5pt;
    font-weight:bold;
    color:#CCCCCC
}

input.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8.5pt;
    cursor: hand;
}

.loginTable {}
.loginLabel {}
.loginError {
    color: red;
}

.profileTable {
    width: 98%;
}
.profileHeader {
    padding: 5px;
    font-weight:bold;
    background-color:#cccccc
}
.profileRow {}
.profileError {
    color: red;
}

