/* ------------- Text Field Style ------------------- */
.textField {border-width:1.5pt; background-color:#FFFFFF; text-decoration:none; font-family:Arial, Verdana, Helvetica, sans-serif;font-size:8.5pt; font-weight:normal}

/* ------------- Big Button Style ------------------- */
.buttonBigClass {border-width:1.5pt; background-color:#E1E1E1; text-decoration:none; font-family:Arial, Verdana, Helvetica, sans-serif;font-size:7.5pt; font-weight:normal; cursor:hand}

/* ------------- Button Style ------------------- */
.buttonClass {border-width:1pt; background-color:#E1E1E1; border-style:solid; border-color:#AAAAAA; text-decoration:none; font-family:Arial, Verdana, Helvetica, sans-serif;font-size:7pt; font-weight:normal; cursor:hand}

/* ------------- Page Style ------------------- */
a:link {text-decoration: none}
a:visited {text-decoration: none; color: #9900CC}
a:active {color: #0000FF}
a:hover {text-decoration: underline}
input {font-family: "Courier New", Courier, mono; font-size: 9pt}
td {font-size: 8pt}

/* ------------------------------------ */
.titleTop {background-color: #0099CC}
.titleMenu {background-color: #928163}
.titleMenuSmall {color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7pt}
.titleMenuTop {background-color: #66CCFF}
.titleMenuBottom {background-color: #003366}
.titleMenuFont {color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold}

/* ------------------------------------ */
.logoTitleBgColor {background-color: #FFFFCC}
.searchBgColor {background-color: #CCCC99}
.dateFont {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #000000}

/* ------------------------------------ */
.companyTitleFont {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10pt ; color: #FF6633}
.companyTitleBgColor {background-color: #FFFFCC}

/* ------------------------------------ */
.desktopFont {color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 9pt}
.desktopBgColor {background-color: #FF9966}

/* ------------------------------------ */
.calendarHeader {background-color: #003366; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #FFFFFF; font-weight:bold}
.calendarMonthBgColor {background-color: #7D7556}
.calendarMonthFont {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10pt}
.calendarMonthWeekendFont {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; color: #FF0000}
.calendarMonthWeekdayFont {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; color: #000000}
.calendarBgColor {background-color: #E4E4CB}
.calendarContentFont {font-family: Arial, Helvetica, sans-serif; font-size: 9pt}
.calendarBackground {background-color:#FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.calendarLabel {background-color: #E6E6CA; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.calendarRow {background-color: #EEEEDD; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.calendarRowLabel {background-color: #EEEEDD; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.calendarRowSmall {background-color: #EEEEDD; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7pt; font-weight:normal}
.calendarFooter {background-color: #E6E6CA; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.calendarSubheader {background-color: #E6E6CA; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.calendarFooterLabel {background-color: #E6E6CA; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}

/* ------------------------------------ */
.highlight {color: #FF0000}

/* ------------------------------------ */
.menuFont {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #333333}
.menuBgColor {background-color: #D6D2B2}
.menuBgBackground {background-color: #FFFFFF}
.menuBgColorHighlight {background-color: #FFFFFF}
.menuBgColorShadow {background-color: #B3AF92}

/* ------------------------------------ */
.contentBgColor {background-color:#DFDCC9; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.contentFont {font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt}
.contentTitleFont {background-color:#726B4D; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; color: #FFFFFF; font-weight:bold}
.contentStrapColor {background-color:#DFDCC9; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}

/* ------------------------------------ */
.sideTitleFont {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #FFFFFF}
.sideTitleBgBorderColor {background-color: #CCCC99}
.sideBodyFontAndBgColor {font-family: Arial, Helvetica, sans-serif;  font-size: 8pt}

.textFont {color: #0065CE}
.contentBgColorAlternate {background-color: #E1E1C1; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.hpTitleFont {font-size: 16pt; color: #666666}
.hpMenuFont {background-color: #CCCCFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10pt}
.hpContentFont {color: #006699}
.hpContentHeaderFont {  }
.hpMenuTitleFont {font-weight: bold; background-color: #FFCC99; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10pt}
.copyright {font-family: "Courier New", Courier, mono; font-size: 10pt; color: #666666}

/* ---------- Portlet Classes ---------- */
.portletBackground {background-color:#FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.portletHeader {background-color: #E5E5E5; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight:bold}
.portletRow {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.portletLabel {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.portletFooter {background-color: #E5E5E5; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt;}
.portletPreferenceBackground {background-color:#E5E5E5; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.portletPreferenceHeader {background-color: #E5E5E5; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #000000; font-weight:bold}
.portletPreferenceRow {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}

.emeetingBackground {background-color:#FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.emeetingHeader {background-color: #003366; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #FFFFFF; font-weight:bold}
.emeetingRow {background-color: #EEEEDD; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.emeetingRowLabel {background-color: #EEEEDD; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.emeetingLabel {background-color: #E6E6CA; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.emeetingCaption {background-color: #EEEEDD; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.emeetingFooter {background-color: #E6E6CA; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt;}
.emeetingSmall {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7pt; text-transform: uppercase}

.emeetingPrintOutline {background-color:#CCCCCC}
.emeetingPrintBackground {background-color:#FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.emeetingPrintHeader {background-color: #E5E5E5; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.emeetingPrintRow {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.emeetingPrintRowLabel {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.emeetingPrintSmall {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7pt; text-transform: uppercase; font-weight:normal}

.forumBackground {background-color:#FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.forumHeader {background-color: #928163; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; font-weight:bold}
.forumLabel {background-color: #E5E5E5; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.forumRow {background-color: #DFDCC9; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.forumRowLabel {background-color: #C7C3A6; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.forumRowSmall {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7pt; font-weight:normal}
.forumFooter {background-color: #DFDCC9; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.forumFooterLabel {
	background-color: #928163;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8.5pt;
	font-weight:bold;
	color: #FFFFFF;
}
a.forumLink {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold; color:#000000}
a.forumLink:hover {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold; color:#999999}
.forumList1 {background-color: #DFDCC9; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.forumList2 {background-color: #C0BCA4; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.forumListSmall {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7pt; font-weight:normal}
a.forumHeaderLink {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #FFFFFF; font-weight:bold}
a.forumHeaderLink:hover {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #FFFFFF; font-weight:bold}

.button {border-width:1pt; background-color:#E1E1E1; border-style:solid; border-color:#AAAAAA; text-decoration:none; font-family:Arial, Verdana, Helvetica, sans-serif;font-size:7pt; font-weight:normal; cursor:hand}

.articleBackground {background-color:#FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt}
.articleHeader {background-color: #E5E5E5; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight:bold}
.articleBody {background-color: #DFDCC9; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.articleLabel {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.articleRow {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.articleRowLabel {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.articleFooter {background-color: #DFDCC9; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.articleSmall {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; font-weight:normal; color: #666666}
.articleRead {font-family: Arial, Verdana, Helvetica, sans-serif; font-weight:normal; color: #FF0000}

.contentPath {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8pt; color: #999999; font-weight:bold}
.contentBody {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.contentLabel {background-color: #CCCCCC; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.contentTreeNode {border:solid 1px #666666; margin:0px; padding: 1px; text-align: center; width:12px; font-size:12px; font-weight:bold; line-height: 6px; background: #CCCCCC; color: #000000;}
.contentPathLink {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight: normal; color:#999999}
.contentPathLink:visited {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight: normal; color:#999999}
.contentPathLinkSelected {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight: bold; color:#999999}
.contentPathLinkSelected:visited {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight: bold; color:#999999}
.contentName {font: bold 13pt Arial; width: 100%}
.contentDate {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7pt; font-weight:normal; font-style:italic}
.contentAuthor {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; font-weight:normal}
.contentHeader {background-color: #CCCCCC; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #000000; font-weight:bold}
.contentSubheader {}
.contentFooter {}
.contentOption {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.contentChildName {font-family: Arial, Verdana, Helvetica, sans-serif; font-size:9pt; font-weight:bold}
.contentChildDate {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7pt; font-weight:normal; font-style:italic}
.contentChildAuthor {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; font-weight:normal}
.contentChildSummary {font-size: 8pt;}
.contentPaging {}
.contentPageLink {}
.contentTreeLink {text-decoration: none; color: black; font: bold 7.5pt Verdana}
.contentTreeSeparator {width: 100%; height: 10px; border-top: dotted 1px black;}
.contentTreeLinkLite {text-decoration: none; color: black; font: normal 7.5pt Verdana}

.voteButton {border-width:1pt; background-color:#E1E1E1; border-style:solid; border-color:#AAAAAA; text-decoration:none; font-family:Arial, Verdana, Helvetica, sans-serif;font-size:7pt; font-weight:normal; cursor:hand}
.voteAnswer {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}
.voteCount {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; font-weight:normal}
.voteResult {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; font-weight:bold}
.voteTotal {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}

.loginHeader {background-color: #003366; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #FFFFFF; font-weight:bold}
.loginLabel {background-color: #928163; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold; color:white}
.loginRow { background-color: #928163; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal; color:white}
.loginError {background-color: #928163; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold; color:#BBBBBB}

.profileHeader {background-color: #E5E5E5; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight:bold}
.profileRow {background-color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.profileFooter {background-color: #E5E5E5; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:bold}
.profileError {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal; color:#FF0000}

.themeButton {height:11pt; border-width:1pt; background-color:#E5E5E5; border-style:solid; border-color:#999999; text-decoration:none; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:7pt; font-weight:normal; color:#666666}

.taskPortletFont {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #000000; font-weight:normal}

/* Top Menu Classes */
.topMenuOutline {background-color: #996600}
.topMenuHeader {background-color: #996600; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8.5pt; color: #FFFFFF; font-weight: bold}
.topMenuRow {background-color: #EEECD9}
.topMenuImageColumn {background-color: #CCCCCC}
.topMenuMouseOver { cursor: hand; border: 1px; background-color: #CDC9AE; border-width:1pt; border-style:solid; border-color:#996600}
.topMenuMouseOut { border: 1px; background-color: #EEECD9; border-width:1pt; border-style:solid; border-color:#EEECD9}
.topMenuHR {color: #CCCC99}
.topMenuLink {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8pt; color: #333333; font-weight:normal; text-decoration: none}
.sideMenuMouseOver {background-color: #996600}
.sideMenuMouseOut {background-color: #666600; font-family: Arial, Verdana, Helvetica, sans-serif; color:#000000}
.topMenuButtonMouseOver {background-color: #E2E2BA; border-style: groove; border-width: 1px}
.topMenuButtonMouseOut {background-color: #CCCC99}

/* Table Widget Classes */
.tableButton {border-width:1pt; background-color:#E1E1E1; border-style:solid; border-color:#AAAAAA; text-decoration:none; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:7pt; font-weight:normal}
.tableHeader {background-color: #685A42; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #FFFFFF; font-weight:bold}
.tableBackground {background-color: #DFDCC9; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt}
.tableRow {background-color: #CBC8B3; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; font-weight:normal}

.verticalCalendarBackground {background-color: #E2E2BA}
.verticalCalendarHeader {background-color: #8C8259; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #FFFFFF; font-weight:bold}
.verticalCalendarSubheaderWeekend {background-color: #B0AA82; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #000000; font-weight:bold}
.verticalCalendarSubheaderWeekday {background-color: #B0AA82; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #000000; font-weight:bold}
.verticalCalendarRow {background-color: #E4E0C6; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 7.5pt; color: #000000; font-weight:normal}
.topmenuBg {
	background-color: #663300;
}
.aTopmenulink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9.5px;
	font-weight: bold;
	color: #663300;
}
.loginTable {
	background-color: #993333;
}
