.textField {
	BORDER-TOP-WIDTH: 1.5pt; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1.5pt; FONT-SIZE: 8.5pt; BORDER-BOTTOM-WIDTH: 1.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1.5pt; TEXT-DECORATION: none
}
.buttonBigClass {
	BORDER-TOP-WIDTH: 1.5pt; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1.5pt; FONT-SIZE: 7.5pt; BORDER-BOTTOM-WIDTH: 1.5pt; CURSOR: hand; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e1e1; BORDER-RIGHT-WIDTH: 1.5pt; TEXT-DECORATION: none
}
.buttonClass {
	BORDER-RIGHT: #aaaaaa 1pt solid; BORDER-TOP: #aaaaaa 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; BORDER-LEFT: #aaaaaa 1pt solid; CURSOR: hand; BORDER-BOTTOM: #aaaaaa 1pt solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e1e1; TEXT-DECORATION: none
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #9900cc; TEXT-DECORATION: none
}
A:active {
	COLOR: #0000ff
}
A:hover {
	TEXT-DECORATION: underline
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: "Courier New", Courier, mono
}
TD {
	FONT-SIZE: 8pt
}
.titleTop {
	BACKGROUND-COLOR: #0099cc
}
.titleMenu {
	BACKGROUND-COLOR: #003366
}
.titleMenuSmall {
	FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.titleMenuTop {
	BACKGROUND-COLOR: #66ccff
}
.titleMenuBottom {
	BACKGROUND-COLOR: #003366
}
.titleMenuFont {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.logoTitleBgColor {
	BACKGROUND-COLOR: #ffffcc
}
.searchBgColor {
	BACKGROUND-COLOR: #ece7c4
}
.dateFont {
	FONT-SIZE: 7.5pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.companyTitleFont {
	FONT-SIZE: 10pt; COLOR: #ff6633; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.companyTitleBgColor {
	BACKGROUND-COLOR: #ffffcc
}
.desktopFont {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.desktopBgColor {
	BACKGROUND-COLOR: #ff9966
}
.highlight {
	COLOR: #ff0000
}
.menuFont {
	FONT-SIZE: 7.5pt; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.menuBgColor {
	BACKGROUND-COLOR: #ece7c4
}
.menuBgBackground {
	BACKGROUND-COLOR: #ffffff
}
.menuBgColorHighlight {
	BACKGROUND-COLOR: #ffffff
}
.menuBgColorShadow {
	BACKGROUND-COLOR: #e0dcba
}
.contentBgColor {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.contentFont {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.contentTitleFont {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.contentStrapColor {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.sideTitleFont {
	FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.sideTitleBgBorderColor {
	BACKGROUND-COLOR: #cccc99
}
.sideBodyFontAndBgColor {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textFont {
	COLOR: #0065ce
}
.contentBgColorAlternate {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e1c1
}
.hpTitleFont {
	FONT-SIZE: 16pt; COLOR: #666666
}
.hpMenuFont {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ccccff
}
.hpContentFont {
	COLOR: #006699
}
.hpContentHeaderFont {
	
}
.hpMenuTitleFont {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffcc99
}
.copyright {
	FONT-SIZE: 10pt; COLOR: #666666; FONT-FAMILY: "Courier New", Courier, mono
}
.emeetingPrintOutline {
	BACKGROUND-COLOR: #cccccc
}
.emeetingPrintBackground {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.emeetingPrintHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e5e5e5
}
.emeetingPrintRow {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.emeetingPrintRowLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.emeetingPrintSmall {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; TEXT-TRANSFORM: uppercase; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.forumBackground {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.forumHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.forumRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.forumRowSmall {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.forumFooter {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.forumFooterLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
A.forumLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
A.forumLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.forumList1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.forumList2 {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ece7c4
}
.forumListSmall {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
A.forumHeaderLink {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
A.forumHeaderLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.button {
	BORDER-RIGHT: #aaaaaa 1pt solid; BORDER-TOP: #aaaaaa 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; BORDER-LEFT: #aaaaaa 1pt solid; CURSOR: hand; BORDER-BOTTOM: #aaaaaa 1pt solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e1e1; TEXT-DECORATION: none
}
.contentPath {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.contentBody {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.contentLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.contentTreeNode {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #cccccc; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #666666 1px solid; WIDTH: 12px; COLOR: #000000; LINE-HEIGHT: 6px; PADDING-TOP: 1px; BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: center
}
.contentPathLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentPathLink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentPathLinkSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentPathLinkSelected:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentName {
	FONT: bold 13pt Arial; WIDTH: 100%
}
.contentDate {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; FONT-STYLE: italic; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentAuthor {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentSubheader {
	
}
.contentFooter {
	
}
.contentOption {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentChildName {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentChildDate {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; FONT-STYLE: italic; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentChildAuthor {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.contentChildSummary {
	FONT-SIZE: 8pt
}
.contentPaging {
	
}
.contentPageLink {
	
}
.contentTreeLink {
	FONT: bold 7.5pt Verdana; COLOR: black; TEXT-DECORATION: none
}
.contentTreeSeparator {
	BORDER-TOP: black 1px dotted; WIDTH: 100%; HEIGHT: 10px
}
.contentTreeLinkLite {
	FONT: 7.5pt Verdana; COLOR: black; TEXT-DECORATION: none
}
.voteButton {
	BORDER-RIGHT: #aaaaaa 1pt solid; BORDER-TOP: #aaaaaa 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; BORDER-LEFT: #aaaaaa 1pt solid; CURSOR: hand; BORDER-BOTTOM: #aaaaaa 1pt solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e1e1; TEXT-DECORATION: none
}
.voteAnswer {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.voteCount {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.voteResult {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.voteTotal {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.loginHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
.loginLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: white; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
.loginRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; COLOR: white; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
.loginError {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #bbbbbb; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
.themeButton {
	BORDER-RIGHT: #999999 1pt solid; BORDER-TOP: #999999 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; BORDER-LEFT: #999999 1pt solid; COLOR: #666666; BORDER-BOTTOM: #999999 1pt solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 11pt; BACKGROUND-COLOR: #e5e5e5; TEXT-DECORATION: none
}
.taskPortletFont {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.topMenuBg {
	BACKGROUND-COLOR: #003399
}
.topMenuOutline {
	BACKGROUND-COLOR: #003895
}
.topMenuHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003895
}
.topMenuRow {
	BACKGROUND-COLOR: #ece7c4
}
.topMenuImageColumn {
	BACKGROUND-COLOR: #cccccc
}
.topMenuMouseOver {
	BORDER-RIGHT: #003895 1pt solid; BORDER-TOP: #003895 1pt solid; BORDER-LEFT: #003895 1pt solid; CURSOR: hand; BORDER-BOTTOM: #003895 1pt solid; BACKGROUND-COLOR: #e1d6a8
}
.topMenuMouseOut {
	BORDER-RIGHT: #ece7c4 1pt solid; BORDER-TOP: #ece7c4 1pt solid; BORDER-LEFT: #ece7c4 1pt solid; BORDER-BOTTOM: #ece7c4 1pt solid; BACKGROUND-COLOR: #ece7c4
}
.topMenuLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topMenuHR {
	COLOR: #cccccc
}
.aTopMenulink {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sideMenuMouseOver {
	BACKGROUND-COLOR: #3399CC
}
.sideMenuMouseOut {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #265596
}
.topMenuButtonMouseOver {
	BORDER-RIGHT: 1px groove; BORDER-TOP: 1px groove; BORDER-LEFT: 1px groove; BORDER-BOTTOM: 1px groove; BACKGROUND-COLOR: #f7f4e6
}
.topMenuButtonMouseOut {
	BACKGROUND-COLOR: #ece7c4
}
.tableButton {
	BORDER-RIGHT: #aaaaaa 1pt solid; BORDER-TOP: #aaaaaa 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; BORDER-LEFT: #aaaaaa 1pt solid; BORDER-BOTTOM: #aaaaaa 1pt solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e1e1; TEXT-DECORATION: none
}
.tableBackground {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.tableRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ece7c4
}
.verticalCalendarBackground {
	BACKGROUND-COLOR: #f6efd0
}
.verticalCalendarHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.verticalCalendarSubheaderWeekend {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ece7c4
}
.verticalCalendarSubheaderWeekday {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ece7c4
}
.verticalCalendarRow {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.qMessagingRowHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.qMessagingRowLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.qMessagingRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.qMessagingRowFooter {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.qMessagingTextHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.qMessagingOutline {
	BACKGROUND-COLOR: #003399
}
.qMessagingBackground {
	BACKGROUND-COLOR: #fffbdf
}
.calendarMonthBgColor {
	BACKGROUND-COLOR: #003399
}
.calendarMonthWeekendFont {
	FONT-SIZE: 8.5pt; COLOR: #ff0000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.calendarMonthWeekdayFont {
	FONT-SIZE: 8.5pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.calendarBgColor {
	BACKGROUND-COLOR: #fffbdf
}
.calendarContentFont {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.calendarBackground {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.calendarLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.calendarRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.calendarRowLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.calendarRowSmall {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.calendarFooter {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.calendarSubheader {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ece7c4
}
.calendarFooterLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.calendarHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.portletBackground {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.portletHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.portletRow {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.portletLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.portletFooter {
	FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ece7c4
}
.portletPreferenceBackground {
	FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.portletPreferenceHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.portletPreferenceRow {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.profileHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.profileRow {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.profileFooter {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.profileError {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; COLOR: #ff0000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.emeetingBackground {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.emeetingHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.emeetingRow {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.emeetingRowLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.emeetingLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.emeetingCaption {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.emeetingFooter {
	FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.emeetingSmall {
	FONT-SIZE: 7pt; TEXT-TRANSFORM: uppercase; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.menuHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.menuBgOutline {
	BACKGROUND-COLOR: #003399
}
.contentHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.tableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.forumRowLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.forumLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.articleBackground {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.articleHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.articleBody {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.articleLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.articleRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.articleRowLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.articleFooter {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.articleSmall {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.articleRead {
	FONT-WEIGHT: normal; COLOR: #ff0000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.bookmarkHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.bookmarkRowLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.bookmarkRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.radioHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.radioRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
A.searchLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.searchLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.searchRow {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.classBackground {
	BACKGROUND-COLOR: #ffffff
}
.classHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.classRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.classRowLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.classRowFaded {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.classRowLabelFaded {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fffbdf
}
.classFooter {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #003399
}
.classText {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.classTextSmall {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.panelHeaderSelected {
	BORDER-RIGHT: #003399 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #003399 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; MARGIN: 4px; BORDER-LEFT: #003399 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #003399 1px solid; BACKGROUND-COLOR: #003399
}
.panelHeader {
	BORDER-RIGHT: #003399 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #003399 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 4px; BORDER-LEFT: #003399 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #003399 1px solid; BACKGROUND-COLOR: #ece7c4
}
.panelRow {
	BORDER-RIGHT: #fffbdf 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fffbdf 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #fffbdf 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fffbdf 1px solid
}
.panelHeaderText {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.panelHeaderSelectedText {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.blogBackground {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.blogHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.blogLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blogRow {
	FONT-WEIGHT: normal; FONT-SIZE: 8.5pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.blogRowLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.blogRowSmall {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.blogFooter {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.blogFooterLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.blogLink {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.blogLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.blogList1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.blogList2 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
.blogListSmall {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.blogHeaderLink {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.blogHeaderLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.blogPathLink {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.blogPathLink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
