.contentExpanded { border:solid 1px gray; margin:0px; padding: 2px; text-align:center; width:14px; font-size:12px; line-height: 8px }
.contentCollapsed { border:solid 1px gray; margin:0px; padding: 2px; text-align:center; width:14px; font-size:5px; line-height: 8px }
